.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > h1 {
  margin: 0;
  padding: 32px;
  text-align: center;
}

nav {
  background-color: #282c34;
}

nav > ul {
  margin: 0;
  padding-left: 8px;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
}

.App h2 {
  text-align: center;
}

#tic-tac-toe > .jatek-ter {
  margin: auto;
  width: 100%;
  max-width: 333px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
}

#tic-tac-toe > .jatek-ter > div {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

#tic-tac-toe > .jatek-ter > div > p {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 32px;
}

#lights-out .jatek-ter {
  margin: auto;
  width: 100%;
  max-width: 333px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#lights-out > .jatek-ter > div {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 50%;
}

#lights-out > .jatek-ter > .on {
  background-color: yellow;
}

#lights-out > .jatek-ter > .off {
  background-color: green;
}

footer {
  text-align: center;
}
